/node_modules
/public/hot
/public/storage
/public/fonts
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.dusk
readme.md

.DS_Store
bootstrap/cache/services.php

composer.lock
_ide_helper.php
.phpstorm.meta.php
package.json
phpunit.phar
